{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}


{% block content%}

		<!-- Start Hero Section -->
		<div class="hero">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-5">
						<div class="intro-excerpt">
							<h1>Shop</h1>
						</div>
					</div>
					
					</div>
				</div>
			</div>
		</div>
	<!-- End Hero Section -->
	
	
		

		<div class="untree_co-section product-section before-footer-section">
		    <div class="container">
		      	<div class="row">

		      		{% comment %} <!-- Start Column 1 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5">
						<a class="product-item" href="{% url 'detail' %}">
							<img src="{% static 'images/product-3.png' %}" class="img-fluid product-thumbnail">
							<h3 class="product-title">Nordic Chair</h3>
							<strong class="product-price">$50.00</strong>
							<span class="icon-cross">
								 <img src="{% static 'images/cross.svg'  %}" class="img-fluid"> 
							</span>
						</a>
					</div> 
					<!-- End Column 1 -->
						
					<!-- Start Column 2 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5">
						<a class="product-item" href="{% url 'detail' %}">
							<img src="{% static 'images/product-1.png' %}" class="img-fluid product-thumbnail">
							<h3 class="product-title">Nordic Chair</h3>
							<strong class="product-price">$50.00</strong>

							<span class="icon-cross">
								<img src="{% static 'images/cross.svg'  %}" class="img-fluid">
							</span>
						</a>
					</div> 
					<!-- End Column 2 -->

					<!-- Start Column 3 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5">
						<a class="product-item" href="{% url 'detail' %}">
							<img src="{% static 'images/product-2.png' %}" class="img-fluid product-thumbnail">
							<h3 class="product-title">Kruzo Aero Chair</h3>
							<strong class="product-price">$78.00</strong>

							<span class="icon-cross">
								<img src="{% static 'images/cross.svg' %}" class="img-fluid">
							</span>
						</a>
					</div>
					<!-- End Column 3 -->

					<!-- Start Column 4 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5">
						<a class="product-item" href="{% url 'detail' %}">
							<img src="{% static 'images/product-3.png' %}" class="img-fluid product-thumbnail">
							<h3 class="product-title">Ergonomic Chair</h3>
							<strong class="product-price">$43.00</strong>

							<span class="icon-cross">
								<img src="{% static 'images/cross.svg'  %}" class="img-fluid">
							</span>
						</a>
					</div>
					<!-- End Column 4 --> {% endcomment %}

					{% for product in object_list %}
					<!-- Start Column 1 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5">
						<a class="product-item" href="{% url 'Ejon:detail' product.id %}">


						{% thumbnail product.Photo "250x250" crop="center" quality=100 as im %}
							<img  class="img-fluid product-thumbnail" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
						{% endthumbnail %}  

							{% comment %} <img src="{{ product.Photo.url }}" class="img-fluid product-thumbnail"> {% endcomment %}
							<h3 class="product-title">{{ product.subject }}</h3>
							<strong class="product-price">${{ product.price }}</strong>
							<span class="icon-cross">
								<img src="{% static 'images/cross.svg'  %}" class="img-fluid">
							</span>
						</a>
					</div> 
					<!-- End Column 1 -->
					{% endfor %}
						
					{% comment %} <!-- Start Column 2 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5">
						<a class="product-item" href="{% url 'detail' %}">
							<img src="{% static 'images/product-4.jpg' %}" class="img-fluid product-thumbnail">
							<h3 class="product-title">Nordic Chair</h3>
							<strong class="product-price">$50.00</strong>

							<span class="icon-cross">
								<img src="{% static 'images/cross.svg'  %}" class="img-fluid">
							</span>
						</a>
					</div> 
					<!-- End Column 2 -->

					<!-- Start Column 3 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5">
						<a class="product-item" href="{% url 'detail' %}">
							<img src="{% static 'images/product-5.jpg' %}" class="img-fluid product-thumbnail">
							<h3 class="product-title">Kruzo Aero Chair</h3>
							<strong class="product-price">$78.00</strong>

							<span class="icon-cross">
								<img src="{% static 'images/cross.svg'  %}" class="img-fluid">
							</span>
						</a>
					</div>
					<!-- End Column 3 -->

					<!-- Start Column 4 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5">
						<a class="product-item" href="{% url 'detail' %}">
							<img src="{% static 'images/product-6.jpg' %}" class="img-fluid product-thumbnail">
							<h3 class="product-title">Ergonomic Chair</h3>
							<strong class="product-price">$43.00</strong>

							<span class="icon-cross">
								<img src="{% static 'images/cross.svg'  %}" class="img-fluid">
							</span>
						</a>
					</div>
					<!-- End Column 4 --> {% endcomment %}

		      	</div>
		    </div>
		</div>

{% endblock %}